[Unit]
Description=Streamlit Server
After=network.target

[Service]
User=<user>
WorkingDirectory=/home/<user>/lemp-app/streamlit
ExecStart=/bin/bash -c "source /home/<user>/lemp-app/venv/bin/activate && streamlit run /home/<user>/lemp-app/streamlit/streamlit-app.py --server.baseUrlPath=data-analysis"
Restart=always

[Install]
WantedBy=multi-user.target